    header {
        background-color: #006600;
        width: 100%;
        height: 75px;;
}
    table {
        border-collapse: collapse;
        width: 100%;
}
    td {
        text-align: center;
        width: 25%;   
        height: 100px;
        border-collapse: collapse;
}
    .img {
        width: 175px;
        height: auto;
        padding: 5px;
        box-shadow: 0px 0px 15px 5px;
}
    /*elke cel in tabel heeft afzonderlijke kleur en naam*/
    #a1 {
        background-color: orange;
        color: black;        
}       
    #a2 {
        background-color: powderblue;        
}    
    #a3 {
        background-color: green;
        color: black;        
}
    #a4 {
        background-color: yellowgreen;        
}
    #b1 {
        background-color: red;
        color: black;        
}
    #b2 {
        background-color: yellow;
}
    #b3 {
        background-color: orangered;
        color: black;        
}
    #b4 {
        background-color: gold;
}
    #c1 {
        background-color: sienna;
        color: black;
}
    #c2 { 
        background-color: rosybrown;        
}
    #c3 {
        background-color: brown;
        color: black;
}
    #c4 {
        background-color: burlywood;
}
    #d1 {
        background-color: grey;
        color: black;
}
    #d2 {
        background-color: darkslategray;
}
    #d3 {
        background-color: bisque;
        color: black;
}
    #d4 {
        background-color: dimgray;
}
    footer {
        background-color: lightgreen;
        width: 100%; height: 75px;
}
